*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#0b0b0b;
  color:#fff;
  font-family:Arial,sans-serif;
}

a{
  color:#fff;
  text-decoration:none;
}

button{
  background:#ff2d2d;
  color:white;
  border:none;
  padding:12px 25px;
  border-radius:30px;
  cursor:pointer;
}

button:hover{
  background:#cc0000;
}

img{
  max-width:100%;
  height:auto;
}
